@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fullPage{
    overflow: hidden;
}
.heading{
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
}
#heroSection{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* bg-[#14183E] text-white z-auto absolute right-0 h-[100vh] w-[50vw] */
@media screen and (max-width: 767px) {
   .navLinks{
        background-color: #14183E;
        color: white;
        min-height: 100vh;
        width: 50vw;
        position: fixed;
        left: 0;
        top: 0;
        padding: 30px;
        line-height: 70px;
   }
   .navLinks .normalLinks{
    border-bottom: 1px solid #cfcfcf;
   }
   #signUpBtn{
    border: 1px solid #fff;
    line-height: 90px;
   }
   #lang{
    color: #fff;
   }
}
